[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-telegram-bot = "==13.12"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
